<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h2>Website to process payments between users</h2>

<h2>Users list</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Nickname</th>
        <th scope="col">Balance</th>
      </tr>
    </thead>
    <tbody>
      {{range .users}}
      <tr>
        <td>{{.Nickname}}</td>
        <td>{{.Balance}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
